APP_CORS_ALLOW_ORIGINS=https://localhost:3000,http://localhost:8080
APP_ENV=development
APP_FRONTEND_URL=https://localhost:3000/
APP_GIN_MODE=debug
APP_REDIS_URL=redis://localhost:6379/0
JWT_SECRET=your_secret_key_here
MAILER_DSN=smtp://localhost:1025
