name: golang-lint
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  golang:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create assets file
        run: |
          mkdir -p backend/cmd/assets && \
          touch backend/cmd/assets/index.html
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: backend/go.sum
          go-version-file: backend/go.mod
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
          working-directory: ./backend
          args: --timeout=30m --config=.golangci.yaml 