name: golang
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  linter:
    name: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Create assets file
        run: |
          mkdir -p backend/cmd/assets && \
          touch backend/cmd/assets/index.html

      - uses: actions/setup-go@v6
        with:
          cache-dependency-path: backend/go.sum
          go-version-file: backend/go.mod
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0
          working-directory: ./backend
          args: --timeout=30m --config=.golangci.yaml

  test:
    name: unit tests
    runs-on: ubuntu-latest
    needs: linter
    steps:
      - uses: actions/checkout@v6

      - name: Create assets file
        run: |
          mkdir -p backend/cmd/assets && \
          touch backend/cmd/assets/index.html

      - uses: actions/setup-go@v6
        with:
          cache-dependency-path: backend/go.sum
          go-version-file: backend/go.mod
          cache: true

      - name: Install dependencies
        run: go mod download
        working-directory: backend

      - name: Build
        run: |
          go build -v ./cmd/main.go && \
          go build -v ./tools/main.go
        working-directory: backend

      - name: Test with the Go CLI
        run: go test -coverprofile=coverage.out ./...
        working-directory: backend

      - name: Upload Go coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: backend/coverage.out
          flags: backend
          token: ${{ secrets.CODECOV_TOKEN }}
