name: js-lint
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  linter:
    name: checkout
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
          cache-dependency-path: frontend/yarn.lock
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('frontend/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: install
        run: yarn install
        working-directory: frontend
      - name: prettier
        run: yarn run prettier .. --check
        working-directory: frontend
      - name: eslint
        run: yarn run eslint
        working-directory: frontend
