name: javascript
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  linter:
    name: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: |
          corepack enable
          yarn set version stable
        working-directory: frontend
      - name: Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('frontend/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
      - name: install
        run: yarn install
        working-directory: frontend
      - name: prettier
        run: yarn run prettier .. --check
        working-directory: frontend
      - name: eslint
        run: yarn run eslint
        working-directory: frontend

  test:
    name: unit tests
    runs-on: ubuntu-latest
    needs: linter
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: |
          corepack enable
          yarn set version stable
        working-directory: frontend
      - name: Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: install
        run: yarn install
        working-directory: frontend

      - name: build
        run: yarn run build
        working-directory: frontend
      - name: test
        run: corepack yarn vitest run --coverage
        working-directory: frontend

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: frontend/coverage
